@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Скрывает скроллбар для Chrome, Safari и Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Скрывает скроллбар для IE, Edge и Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
